body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px 30px;
}

.hero {
  margin: 40px auto;
  width: 1000px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.hero img {
  width: 50%;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.nav a {
  align-self: center;
}

.plans {
  display: flex;
  gap: 10px;
  align-items: stretch;
}

.content {
  width: 1000px;
  margin: auto;
}